:root {
    --bege-primary: rgb(238, 204, 233);
    --marrom-primary: rgba(59, 28, 13, 1);
    --marrom-secondary: rgb(205,92,92);
}

html {
    height:100%;
    min-height: 100%;
}

h1,h2,h3,h4,h5 {
    font-family:Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 3.1rem;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: var(--bege-primary)!important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--marrom-primary);
}

.card {
    background: var(--bege-primary);
    border-radius:20px;
}
.navbar {
    background: var(--marrom-secondary) !important;
}

.navbar-content {
    width: 100%;
    height: 100%;
}

.logo {
    max-width: 85px;
}

.nav-item a {
    font-size: 1.2rem;
}

.btn-primary {
    background-color: rgb(30, 82, 179) !important;
    border-color: var(--marrom-secondary) !important;
    color: white !important;
    transition: all .2s;
}

.btn-primary:hover {
    opacity: .8;
}

.voltar {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.social-media {
    /* width: 25%; */
    display: flex;
    justify-content:space-around;
    font-size: 35px;
}

.social-media a {
    color: var(--marrom-primary);
}

.footer {
    background-image: url(../images/footer.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    
    padding: auto;
    height: 150px;
    margin-top: auto;
}

.footer-content {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items: center;

    backdrop-filter: grayscale(50%);
    -webkit-backdrop-filter: opacity(50%);
    height: 100%;
    width: 100%;
    padding: 0 5%;
}
.app-logo{
    width: 120px;
    height: 80px;
    margin-right: 1.8rem;
    border-radius: 50%;
  }

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}